
<html>
   <head>
    <style>
        table, th, td {
      border: 1px solid;
      position: relative;
            margin-top: 100;
            margin-left: 50%;
    }
        h1{
            text-align: center;
            padding-bottom: 100px;
           
        }
    </style>
   </head>
   
   <h1>Insurances Overview</h1>
 
   <body>
        <table>
            <tr>        
                <td>Id</td>
                <td>Id_type</td>  
            </tr>
        {% for dat in Data %}
            <tr>
                <td>{{ dat['id'] }}</td>
                <td>{{ dat['id_type']}}</td>
            </tr>
        {% endfor %}
        </table>


    </body>
</html>
