{% extends 'BaseLayout.twig' %}

{% block title %}
    Add New Insurance
{% endblock %}

{% block content %}


<div class="card"  style="width: 21rem; position: relative; left: 40%; top: 30%;">
    <div class="card-body"> 
    <div class="form-group">
        <form  method="get" id="getServices">
            <input type="hidden" name="controller" value="Insurance" />
            <input type="hidden" name="action" value="AddNewInsurance" />
            <label for="insurer">Choose an insurer:</label>
            <select name="name_insurer" value="name" >
                {% for name in Names %}
                  <option >{{ name.name }}</option>
              {% endfor %}
            </select>
        </form>
            <input type="submit" class="btn btn-success" style="position: relative; left: 35%;"  name="Services" value="Services" form="getServices"/>    
    </div>    
    <div class="form-group">

      {% if Services !=[] %}
        <label for="insurer">Choose services:</label><br>
            {% for service in Services %}
            <input type="checkbox" name="checkbox[]" value = {{service.name}} form="add_form">
            <label for="option"> {{service.name}}</label><br>
          {% endfor %}
          <div class="form-group">
            <label for="Customer">Customer Name</label>
            <input type="text" class="form-control" id="myCustomer" name="customer_form"  placeholder="Customer" value="" form="add_form"/>
            </div>
    
        <div class="form-group">
            <label for="Type">Type of insurance</label>
            <input type="text" class="form-control" id="myType" name="type_form"  placeholder="Type" value="" form="add_form"/>
            </div>
          <input type="submit" class="btn btn-success" id="myAddButton" name="add" value="add" form="add_form"/>
        {% endif %}
    </div>
    <form name="add_form" id="add_form" method="post"></form>
 
</div>
</div>
       
{% endblock %}