{% extends 'BaseLayout.twig' %}

{% block title %}
    Add New Customer
{% endblock %}

{% block content %}

<link rel="stylesheet" href="src/Layouts/AddNewCustomer.css">


<div class="card"  style="width: 21rem; position: relative; left: 40%; top: 30%;">
    <div class="card-body">
    <form name="add_form" id="add_form" method="POST">
    <div class="form-group">
    <label for="FullName">FullName</label>
    <input type="text" class="form-control" id="myFullName" name="name_form"  placeholder="FullName" value=""/>
    </div>

    <div class="form-group">
    <label for="Adress">Adress</label>    
    <input type="text" class="form-control" id="myAdress" name="adress_form"  placeholder="Adress" value=""/>
    </div>
    <input type="submit" class="btn btn-success" id="myAddButton" name="add" value="Add"/>
    
    </form>
</div>
</div>
       
{% endblock %}