.table{
    margin-top: 100px;
    margin-left: 300px;
    border: 1px solid;
    width: 60%;
}

#myInput{
    position:absolute;
     left:300px; 
     top:120px; 
     border: 1px solid; 
}
#mySearchButton{
    position:absolute;
    left:500px; 
    top:120px; 
    border: 1px solid; 
}
.p{
    left:500px; 
    top:600px; 
}

#myResetButton{
    position:absolute;
    left:580px; 
    top:120px; 
    border: 1px solid; 
}